In [54]:
import numpy as np
import pandas as pd

In [55]:
data = np.random.rand(6, 5)
data

array([[0.97207203, 0.73558803, 0.54044558, 0.35345928, 0.91903183],
       [0.85251347, 0.3159949 , 0.93345152, 0.02691841, 0.36686499],
       [0.33028378, 0.05278734, 0.17918057, 0.63149952, 0.13509137],
       [0.72514576, 0.82718637, 0.77342137, 0.19809571, 0.70568281],
       [0.27503291, 0.06720532, 0.25140814, 0.8980259 , 0.45406899],
       [0.36660356, 0.23015313, 0.13922498, 0.13374116, 0.41543902]])

In [69]:
df = pd.DataFrame(data=data)
df

          0         1         2         3         4
0  0.972072  0.735588  0.540446  0.353459  0.919032
1  0.852513  0.315995  0.933452  0.026918  0.366865
2  0.330284  0.052787  0.179181  0.631500  0.135091
3  0.725146  0.827186  0.773421  0.198096  0.705683
4  0.275033  0.067205  0.251408  0.898026  0.454069
5  0.366604  0.230153  0.139225  0.133741  0.415439

In [57]:
df[2]

0    0.540446
1    0.933452
2    0.179181
3    0.773421
4    0.251408
5    0.139225
Name: 2, dtype: float64

In [58]:
type(df[1])

pandas.core.series.Series

In [59]:


data2 = [
    [1, 2, 3, 4, 5, 6],
    [7, 8, 9, 10, 11, 12],
    [13, 14, 15, 16, 17, 18],
    [19, 20, 21, 22, 23, 24],
    [25, 26, 27, 28, 29, 30],
    [31, 32, 33, 34, 35, 36]
]

In [60]:
df2 = pd.DataFrame(
    data=data2,
    index=['row1', 'row2', 'row3', 'row4', 'row5', 'row6'],
    columns=['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
)

print(df2)

      col1  col2  col3  col4  col5  col6
row1     1     2     3     4     5     6
row2     7     8     9    10    11    12
row3    13    14    15    16    17    18
row4    19    20    21    22    23    24
row5    25    26    27    28    29    30
row6    31    32    33    34    35    36

In [61]:
df2['new'] = np.random.rand(6)
df2

      col1  col2  col3  col4  col5  col6       new
row1     1     2     3     4     5     6  0.970048
row2     7     8     9    10    11    12  0.623448
row3    13    14    15    16    17    18  0.629853
row4    19    20    21    22    23    24  0.483982
row5    25    26    27    28    29    30  0.358465
row6    31    32    33    34    35    36  0.895144

In [62]:
groups = ['group1']*3 + ['group2']*3
groups

['group1', 'group1', 'group1', 'group2', 'group2', 'group2']

In [63]:
inside_group = ['row1', 'row2', 'row3']*2
inside_group

['row1', 'row2', 'row3', 'row1', 'row2', 'row3']

In [64]:
columns = ['col1', 'col2', 'col3']
columns

['col1', 'col2', 'col3']

In [65]:
ind_tuple = list(zip(groups, inside_group))

In [66]:
index = pd.MultiIndex.from_tuples(tuples=ind_tuple)
index

MultiIndex([('group1', 'row1'),
            ('group1', 'row2'),
            ('group1', 'row3'),
            ('group2', 'row1'),
            ('group2', 'row2'),
            ('group2', 'row3')],
           )

In [72]:
st = pd.DataFrame(
    data=np.random.randn(6, 3),
    index=index,
    columns=columns
)

st

                 col1      col2      col3
group1 row1 -0.604310 -0.094777 -0.429622
       row2 -0.084497  0.005846  0.303088
       row3 -0.063240 -1.176787 -0.022175
group2 row1  0.958990  1.674118  0.001416
       row2 -0.001245  0.620988 -0.843317
       row3  0.628141 -0.360021 -0.055744