In [16]:
import numpy as np
import pandas as pd

In [17]:
data = np.random.rand(6, 5)
data

array([[0.01937488, 0.38245014, 0.05181258, 0.05029361, 0.54788881],
       [0.71730331, 0.05836872, 0.4624832 , 0.04816788, 0.32756453],
       [0.28281397, 0.86469854, 0.34287512, 0.007158  , 0.22709389],
       [0.4528899 , 0.65040677, 0.49521235, 0.98136059, 0.51380403],
       [0.71982494, 0.30702183, 0.03426234, 0.52281169, 0.43767456],
       [0.00540384, 0.34644235, 0.31675904, 0.00396756, 0.95760045]])

In [18]:
df = pd.DataFrame(data=data)
df

          0         1         2         3         4
0  0.019375  0.382450  0.051813  0.050294  0.547889
1  0.717303  0.058369  0.462483  0.048168  0.327565
2  0.282814  0.864699  0.342875  0.007158  0.227094
3  0.452890  0.650407  0.495212  0.981361  0.513804
4  0.719825  0.307022  0.034262  0.522812  0.437675
5  0.005404  0.346442  0.316759  0.003968  0.957600

In [19]:
df[2]

0    0.051813
1    0.462483
2    0.342875
3    0.495212
4    0.034262
5    0.316759
Name: 2, dtype: float64

In [20]:
type(df[1])

pandas.core.series.Series

In [23]:


data2 = [
    [1, 2, 3, 4, 5, 6],
    [7, 8, 9, 10, 11, 12],
    [13, 14, 15, 16, 17, 18],
    [19, 20, 21, 22, 23, 24],
    [25, 26, 27, 28, 29, 30],
    [31, 32, 33, 34, 35, 36]
]

In [24]:
df2 = pd.DataFrame(
    data=data2,
    index=['row1', 'row2', 'row3', 'row4', 'row5', 'row6'],
    columns=['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
)

print(df2)

      col1  col2  col3  col4  col5  col6
row1     1     2     3     4     5     6
row2     7     8     9    10    11    12
row3    13    14    15    16    17    18
row4    19    20    21    22    23    24
row5    25    26    27    28    29    30
row6    31    32    33    34    35    36