In [119]:
import numpy as np
import pandas as pd

In [120]:
data = np.random.rand(6, 5)
data

array([[0.22663173, 0.61295301, 0.23774541, 0.12138776, 0.65383532],
       [0.71554919, 0.61295068, 0.26802723, 0.37081108, 0.11013026],
       [0.40479236, 0.71710831, 0.47777085, 0.81241739, 0.62164029],
       [0.74549978, 0.10348034, 0.23773952, 0.89027588, 0.44844249],
       [0.98036263, 0.25987383, 0.81106169, 0.78766204, 0.10787556],
       [0.54794873, 0.61845386, 0.97785652, 0.69561245, 0.98551453]])

In [121]:
df = pd.DataFrame(data=data)
df

          0         1         2         3         4
0  0.226632  0.612953  0.237745  0.121388  0.653835
1  0.715549  0.612951  0.268027  0.370811  0.110130
2  0.404792  0.717108  0.477771  0.812417  0.621640
3  0.745500  0.103480  0.237740  0.890276  0.448442
4  0.980363  0.259874  0.811062  0.787662  0.107876
5  0.547949  0.618454  0.977857  0.695612  0.985515

In [122]:
df[2]

0    0.237745
1    0.268027
2    0.477771
3    0.237740
4    0.811062
5    0.977857
Name: 2, dtype: float64

In [123]:
type(df[1])

pandas.core.series.Series

In [124]:


data2 = [
    [1, 2, 3, 4, 5, 6],
    [7, 8, 9, 10, 11, 12],
    [13, 14, 15, 16, 17, 18],
    [19, 20, 21, 22, 23, 24],
    [25, 26, 27, 28, 29, 30],
    [31, 32, 33, 34, 35, 36]
]

In [125]:
df2 = pd.DataFrame(
    data=data2,
    index=['row1', 'row2', 'row3', 'row4', 'row5', 'row6'],
    columns=['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
)

print(df2)

      col1  col2  col3  col4  col5  col6
row1     1     2     3     4     5     6
row2     7     8     9    10    11    12
row3    13    14    15    16    17    18
row4    19    20    21    22    23    24
row5    25    26    27    28    29    30
row6    31    32    33    34    35    36

In [126]:
df2['new'] = np.random.rand(6)
df2

      col1  col2  col3  col4  col5  col6       new
row1     1     2     3     4     5     6  0.047075
row2     7     8     9    10    11    12  0.243844
row3    13    14    15    16    17    18  0.866287
row4    19    20    21    22    23    24  0.483862
row5    25    26    27    28    29    30  0.594371
row6    31    32    33    34    35    36  0.382927

In [127]:
groups = ['group1']*3 + ['group2']*3
groups

['group1', 'group1', 'group1', 'group2', 'group2', 'group2']

In [128]:
inside_group = ['row1', 'row2', 'row3']*2
inside_group

['row1', 'row2', 'row3', 'row1', 'row2', 'row3']

In [129]:
columns = ['col1', 'col2', 'col3']
columns

['col1', 'col2', 'col3']

In [130]:
ind_tuple = list(zip(groups, inside_group))

In [131]:
index = pd.MultiIndex.from_tuples(tuples=ind_tuple)
index

MultiIndex([('group1', 'row1'),
            ('group1', 'row2'),
            ('group1', 'row3'),
            ('group2', 'row1'),
            ('group2', 'row2'),
            ('group2', 'row3')],
           )

In [132]:
st = pd.DataFrame(
    data=np.random.randn(6, 3),
    index=index,
    columns=columns
)

st

                 col1      col2      col3
group1 row1 -0.219554 -0.884970  1.101191
       row2  0.698890  1.057617  1.332845
       row3 -1.917282 -1.405544 -0.549620
group2 row1 -0.268561 -1.679010  1.831237
       row2  0.127598 -0.134133  2.166338
       row3 -1.729411  0.015307 -0.455714

In [133]:
group1 = st.loc['group1']

In [134]:
group1.loc['row1']

col1   -0.219554
col2   -0.884970
col3    1.101191
Name: row1, dtype: float64

In [135]:
st.loc['group1'].loc['row1']

col1   -0.219554
col2   -0.884970
col3    1.101191
Name: row1, dtype: float64

In [139]:
st.xs('group1')

          col1      col2      col3
row1 -0.219554 -0.884970  1.101191
row2  0.698890  1.057617  1.332845
row3 -1.917282 -1.405544 -0.549620

In [141]:
st.xs('row1', level='rows')

KeyError: 'Level rows not found'