In [27]:
import numpy as np
import pandas as pd

In [28]:
data = np.random.rand(6, 5)
data

array([[0.1241026 , 0.26407061, 0.36516031, 0.86930099, 0.9323389 ],
       [0.24573837, 0.09578977, 0.31363882, 0.67642344, 0.59106745],
       [0.53475259, 0.57324338, 0.84914509, 0.40495232, 0.35499057],
       [0.8961549 , 0.34239651, 0.25880926, 0.03751413, 0.02099021],
       [0.31877791, 0.56841563, 0.95288217, 0.13524957, 0.2502851 ],
       [0.82995052, 0.5778651 , 0.5097464 , 0.49103449, 0.44762479]])

In [29]:
df = pd.DataFrame(data=data)
df

          0         1         2         3         4
0  0.124103  0.264071  0.365160  0.869301  0.932339
1  0.245738  0.095790  0.313639  0.676423  0.591067
2  0.534753  0.573243  0.849145  0.404952  0.354991
3  0.896155  0.342397  0.258809  0.037514  0.020990
4  0.318778  0.568416  0.952882  0.135250  0.250285
5  0.829951  0.577865  0.509746  0.491034  0.447625

In [30]:
df[2]

0    0.365160
1    0.313639
2    0.849145
3    0.258809
4    0.952882
5    0.509746
Name: 2, dtype: float64

In [31]:
type(df[1])

pandas.core.series.Series

In [32]:


data2 = [
    [1, 2, 3, 4, 5, 6],
    [7, 8, 9, 10, 11, 12],
    [13, 14, 15, 16, 17, 18],
    [19, 20, 21, 22, 23, 24],
    [25, 26, 27, 28, 29, 30],
    [31, 32, 33, 34, 35, 36]
]

In [33]:
df2 = pd.DataFrame(
    data=data2,
    index=['row1', 'row2', 'row3', 'row4', 'row5', 'row6'],
    columns=['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
)

print(df2)

      col1  col2  col3  col4  col5  col6
row1     1     2     3     4     5     6
row2     7     8     9    10    11    12
row3    13    14    15    16    17    18
row4    19    20    21    22    23    24
row5    25    26    27    28    29    30
row6    31    32    33    34    35    36

In [ ]:
df2['new'] = np.random.rand(6)
df2

      col1  col2  col3  col4  col5  col6       new
row1     1     2     3     4     5     6  0.002920
row2     7     8     9    10    11    12  0.438463
row3    13    14    15    16    17    18  0.711147
row4    19    20    21    22    23    24  0.028908
row5    25    26    27    28    29    30  0.979043
row6    31    32    33    34    35    36  0.017767

In [38]:
df2 = ['col1', 'col2', 'col3', 'col4']
df2

['col1', 'col2', 'col3', 'col4']