In [1]:
import numpy as np
import pandas as pd

In [ ]:
data = np.arange(5, 10)
data

array([5, 6, 7, 8, 9])

In [ ]:
pd_series = pd.Series(data=data)
pd_series

0    5
1    6
2    7
3    8
4    9
dtype: int64

In [ ]:
index = ['a', 'b', 'c', 'd', 'e']

In [ ]:
pd_series2 = pd.Series(data=data, index=index)
pd_series2

a    5
b    6
c    7
d    8
e    9
dtype: int64

In [7]:
pd_series.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
data2 = {
    'a': 4,
    'b': 3,
    'c': 6,
    'd': 7,
    'e': 2,
    '5': 1,
}
pd_series3 = pd.Series(data=data2)
pd_series3

a    4
b    3
c    6
d    7
e    2
5    1
dtype: int64

In [ ]:
data5 = np.random.rand(6, 5)
data5

array([[0.09181698, 0.64713601, 0.66258906, 0.37381305, 0.51216148],
       [0.37439557, 0.69139162, 0.74128159, 0.24104286, 0.4048493 ],
       [0.89310592, 0.12652709, 0.34240378, 0.92700669, 0.19505147],
       [0.25849193, 0.13708874, 0.88617009, 0.67115864, 0.52535425],
       [0.64589145, 0.68271613, 0.75926793, 0.06167038, 0.53285001],
       [0.62211612, 0.70918204, 0.13717936, 0.08604057, 0.43601689]])

In [ ]:
df = pd.DataFrame(data=data5)
df

          0         1         2         3         4
0  0.091817  0.647136  0.662589  0.373813  0.512161
1  0.374396  0.691392  0.741282  0.241043  0.404849
2  0.893106  0.126527  0.342404  0.927007  0.195051
3  0.258492  0.137089  0.886170  0.671159  0.525354
4  0.645891  0.682716  0.759268  0.061670  0.532850
5  0.622116  0.709182  0.137179  0.086041  0.436017